<div class="container">
    <h2 class="my-5">{{formTitle}}</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field class="example-full-width">
        <mat-label>Product Name:</mat-label>
        <input matInput data-testid="name" placeholder="Product 1" formControlName="name">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Description:</mat-label>
        <textarea matInput  data-testid="description" placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
      </mat-form-field>
      <button mat-stroked-button type="submit"  [disabled]="!productForm.valid">Submit</button>
      <button mat-stroked-button color="accent" (click)="onCancel()">Cancel</button>
    </form>
  </div>